@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body {
  background-color: #f6f3c2;
  justify-self: center;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: min(1309px, 75vw);
  height: 99vh;
  grid-template-areas:
    "head head head"
    "board board board"
    "board board board"
    "board board board";
}
.header {
  grid-area: head;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". h h ."
    "p1 p1 p2 p2"
    "n1 n1 n2 n2"
    ". b b .";
}
.p1 {
  grid-area: p1;
  padding: 1rem;
  justify-self: center;
  align-self: center;
}
.p2 {
  grid-area: p2;
  padding: 1rem;
  justify-self: center;
  align-self: center;
}
h1 {
  grid-area: h;
  align-self: center;
  justify-self: center;
}
.name1 {
  grid-area: n1;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  width: 75%;
  height: 25%;
  padding: 5px;
}
.name2 {
  grid-area: n2;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  width: 75%;
  height: 25%;
  padding: 5px;
}
button {
  border-radius: 7px;
  background-color: #91c6bc;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: b;
  justify-self: center;
  font-size: 2rem;
  height: 2rem;
  width: 10rem;
}
.board {
  grid-area: board;
  height: 100%;
  background-color: #e37434;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  border: 3px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
}

.results {
  align-self: center;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 50%;
  height: 25%;
}

.results > button {
  width: 8rem;
}
